*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #e41233;
}

img{
    height: 100%;
}

h2{
    text-transform: uppercase;
    font-size: 2.5rem;
}

/* header */
.height-resize{
    height: 65px;
}


/* main */
.b-radius{
    border-radius: 10px;
    color: #e41233;
    box-shadow: 1px 1px 17px black;
}

select{
    padding: 0.2rem;
}

button{
    background-color: rgb(197, 195, 195);
    padding: 0.2rem 0.4rem;
    margin-left: 0.4rem;
    color: #e41233;
    border: 2px solid grey;
    border-radius: 6px;
}

button:hover{
    border-color: goldenrod;
}